<div class="container">
  <form
    tuiAppearance="floating"
    tuiCardLarge
    tuiForm="m"
    [formGroup]="changePasswordForm"
    [style.max-width.rem]="32"
  >
    <header tuiHeader>
      <h2 tuiTitle>
        Change Password
        <span tuiSubtitle>Tell us about yourself</span>
      </h2>
    </header>

    <tui-textfield>
      <label tuiLabel>Old Password</label>
      <input formControlName="oldPassword" tuiTextfield type="password" />
      <tui-icon tuiPassword />
    </tui-textfield>
    <tui-error
      formControlName="oldPassword"
      [error]="[] | tuiFieldError | async"
    />

    <tui-textfield>
      <label tuiLabel>New Password</label>
      <input formControlName="newPassword" tuiTextfield type="password" />
      <tui-icon tuiPassword />
    </tui-textfield>
    <tui-error
      formControlName="newPassword"
      [error]="[] | tuiFieldError | async"
    />

    <footer>
      <button appearance="secondary" tuiButton type="button">Cancel</button>
      <button tuiButton type="submit" (click)="onChangePassword()">Submit</button>
    </footer>
  </form>
</div>
